---
// Component Imports
import Presentation from '../components/molecules/Presentation.astro';
import SkillSet from '../components/molecules/SkillSet.astro';
import About from '../components/molecules/About.astro';
import TechSet from '../components/molecules/TechSet.astro';

import Menu from '../components/molecules/Menu.jsx';
import Contact from '../components/molecules/Contact.jsx';

import '../styles/global.css';

// Component Script:
let title = 'Sncalvo portfolio';
let description = `
  This is some trash text discribing
  some of my main qualities as a full stack Developer.
  I should also describe a little bit about myself
  and some other stuff of why I do what I do.
  `;

const skills = [
  {
    name: 'Test skill',
    description: 'This is a test skill. Since it is just a test, it does not contain any important info',
    icon: 'tabler:settings',
    thumbnail: '/assets/productivity.png'
  },
  {
    name: 'Test skill',
    description: 'This is a test skill. Since it is just a test, it does not contain any important info',
    icon: 'tabler:settings',
    thumbnail: '/assets/productivity.png'
  },
  {
    name: 'Test skill',
    description: 'This is a test skill. Since it is just a test, it does not contain any important info',
    icon: 'tabler:settings',
    thumbnail: '/assets/productivity.png'
  },
  {
    name: 'Test skill',
    description: 'This is a test skill. Since it is just a test, it does not contain any important info',
    icon: 'tabler:settings',
    thumbnail: '/assets/productivity.png'
  },
];

const techs = [
  {
    name: 'Typescript',
    description: 'Typescript is a nice extension of JS meant to be safer. jeje',
    icon: 'simple-icons:typescript',
  },
  {
    name: 'Typescript',
    description: 'Typescript is a nice extension of JS meant to be safer. jeje',
    icon: 'simple-icons:typescript',
  },
  {
    name: 'Typescript',
    description: 'Typescript is a nice extension of JS meant to be safer. jeje',
    icon: 'simple-icons:typescript',
  },
  {
    name: 'Typescript',
    description: 'Typescript is a nice extension of JS meant to be safer. jeje',
    icon: 'simple-icons:typescript',
  },
];
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{title}</title>

  <link rel="icon" type="image/x-icon" href="/favicon.ico" />

  <meta name="description" content={description}>
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content="https://sncalvo.com/assets/profile.jpeg" />
</head>
<body class="bg-primary-500">
  <Menu client:visible />
  <main>
    <Presentation
      name="Santiago Calvo"
      birthDate="2000-01-05"
      position="Fullstack dev, Team Lead"
      place="Eagerworks"
    />

    <div class="p-4 md:p-8 flex flex-col gap-3">
      <SkillSet skills={skills} />

      <About />

      <TechSet techs={techs} />

      <Contact client:visible />
    </div>
  </main>
</body>
</html>
