---
// Component Imports
import Presentation from '../components/molecules/Presentation.astro';
import SkillSet from '../components/molecules/SkillSet.astro';
import About from '../components/molecules/About.astro';
import TechSet from '../components/molecules/TechSet.astro';
import Footer from '../components/molecules/Footer.astro';

import Menu from '../components/molecules/Menu.jsx';
import Contact from '../components/molecules/Contact.jsx';

import '../styles/global.css';

let title = 'Santi Calvo: Full Stack Developer';
let description = `
  I am a Full Stack web developer with a passion for building beautiful, responsive websites to \
  help your business grow and deliver great user experiences.

  I have a background in web development and have worked with many different technologies, \
  including HTML, CSS, JavaScript, React, Node, and more.

  I am also pursuing a career in Software Engineering with only a some months to go.
  `;

const skills = [
  {
    name: 'Productivity',
    description: 'I have experience taking plenty of responsability for a project at the same time while still being able to get the job done on time.',
    icon: 'tabler:settings',
    thumbnail: 'productive'
  },
  {
    name: 'Leadership',
    description: 'I have the ability to lead a team and make sure everyone is on the same page, always ensuring that everyone is also comfortable with the project to ensure the best environment.',
    icon: 'tabler:building-lighthouse',
    thumbnail: 'leadering'
  },
  {
    name: 'Accountability',
    description: 'Mistakes are unavoidable. However, I have the ability to take ownership of them, learn from the mistake to improve for the sake of the project.',
    icon: 'tabler:file-alert',
    thumbnail: 'blame'
  },
  {
    name: 'Self-learning',
    description: 'I can easily identify and solve problems that I have not yet encountered, and I can learn new technologies and techniques to make my work more efficient.',
    icon: 'tabler:notebook',
    thumbnail: 'learner'
  },
];

const techs = [
  {
    name: 'Typescript',
    description: 'Typescript is a great language to build your app with. It is a superset of JavaScript that aids in stability and scalability of your project.',
    icon: 'simple-icons:typescript',
  },
  {
    name: 'React',
    description: 'React is a JavaScript library for building user interfaces. It is maintained by Facebook and a community of individual developers and companies. With it\'s great state management one can build complex applications that allow great interactive experiences for users.',
    icon: 'simple-icons:react',
  },
  {
    name: 'Ruby on Rails',
    description: 'Building your backend with rails is a great way to get your app up and running in no time. It is a framework that allows you to build a robust backend with a simple API.',
    icon: 'simple-icons:rubyonrails',
  },
  {
    name: 'AWS',
    description: 'Languages, libraries, and frameworks still need somewhere to run. AWS is a reliable and scalable cloud platform to host your applications.',
    icon: 'simple-icons:amazonaws',
  },
];

const socialMediaLinks = [
  {
    name: 'Github',
    icon: 'simple-icons:github',
    url: 'https://github.com/sncalvo/'
  },
  {
    name: 'LinkedIn',
    icon: 'simple-icons:linkedin',
    url: 'https://www.linkedin.com/in/santiago-calvo-vello/'
  },
  {
    name: 'Twitter',
    icon: 'simple-icons:twitter',
    url: 'https://twitter.com/SantiCalvoVello'
  },
];
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{title}</title>

  <link rel="icon" type="image/x-icon" href="/favicon.ico" />

  <meta name="description" content={description}>
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content="https://sncalvo.com/assets/profile.jpeg" />
</head>
<body class="bg-primary-500">
  <div class="overflow-x-hidden">
    <Menu client:visible />
    <main>
      <Presentation
        name="Santiago Calvo"
        birthDate="2000-01-05"
        position="Fullstack dev, Team Lead"
        place="Eagerworks"
      />

      <div class="p-4 md:p-8 flex flex-col gap-10">
        <SkillSet skills={skills} />

        <About description={description} />

        <TechSet techs={techs} />

        <Contact client:visible />

      </div>

    </main>
  </div>

  <Footer links={socialMediaLinks} />
</body>
</html>
