---
import { Icon } from 'astro-icon'

const { icon, name, description, thumbnail } = Astro.props;
---
<style>
.flip {
  /* width: 150px;
  height: 150px; */
  text-align: center;
  perspective: 600px;
}
.flip-content {
  transform-style: preserve-3d;
}
.flip:hover .flip-content {
  transform: rotateY(180deg);
  transition: transform 0.3s;
}

.flip-front, .flip-back {
	@apply absolute h-full w-full;
	backface-visibility: hidden;
}

.flip-back {
  transform: rotateY(180deg);
}
</style>



<div class="flex flex-col rounded-md items-center gap-5 h-80 text-white">
	<div class="flip h-full w-full">
		<div class="transition-all ease-in-out delay-100 duration-300 flip-content border-2 border-secondary-500 rounded w-full h-full">
			<div class="grid grid-rows-6 grid-flow-col gap-0 flip-front bg-primary-400 px-2">
				<div class="row-span-1 flex flex-row text-center gap-1 items-center">
          <Icon name={icon} height="100%" />

					<h3 class="text-xl text-center font-medium">{name}</h3>
				</div>

				<div class="row-span-4">
					<img src={thumbnail} class="w-full h-full object-contain bg-secondary-500 rounded"/>
				</div>

				<div class="row-span-1 flex flex-row text-center gap-1 items-center rotate-180">
					<Icon name={icon} height="100%" />

					<h3 class="text-xl text-center font-medium">{name}</h3>
				</div>
			</div>
			<div class="flip-back bg-primary-400 grid grid-rows-6 grid-flow-col gap-0 p-2">
				<div class="row-span-1">
          <Icon name={icon} height="100%" />
        </div>

				<h3 class="text-md font-medium text-left row-span-4">{description}</h3>

        <div class="row-span-1 rotate-180">
          <Icon name={icon} height="100%" />
        </div>
			</div>
		</div>
	</div>
</div>
